{% extends 'libmgmt/layout.html' %}

{% block 'title' %}
    ::Libmgmt:: Welcome user
{% endblock %}

{% block 'content' %}
    Welcome {{username}}
    <a href="{% url 'libapp:logout' %}">Logout</a>
    <table border="1">
        <thead>
            <tr>
                <td>Title</td>
                <td>Price</td>
                <td>Pages</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{book.title}}</td>
                    <td>{{book.price}}</td>
                    <td>{{book.pages}}</td>
                    <td>
                        <a href="{% url 'libapp:bookDetails' book.id %}">Details</a>
                    </td>
                    <td>
                        {% if not book.issueable %}
                            Cannot Issue
                        {% elif book.can_issue %}
                            <a href="{% url 'libapp:issueBook' book.id %}">Issue book</a>
                        {% else %}
                            <a href="{% url 'libapp:returnBook' book.id %}">Return book</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}