{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block 'title' %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'styles/app.css' %}">
</head>
<body>
    <h2>
        Welcome to my app
    </h2>
    <img class="banner" src="{% static 'images/banner.jpg' %}" alt="">
    <div>
        <a href="{% url 'home' %}">Home</a>|
        <a href="{% url 'about' %}">About us</a>|
        <a href="{% url 'contact' %}">Contact us</a>
    </div>
    <div>
        {% block 'content' %}
        {% endblock %}
    </div>
    <div class="footer">
        Copyright 2020. All rights reserved
    </div>
</body>
</html>